<!DOCTYPE html>
<html>
	<head>
		<title><%= page_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<div class="main">
			<div class="container">
				<%= render 'layouts/header' %>
				<%= yield %>
				<div class="well">
					<%= debug(params) if Rails.env.development? %>
				</div>
			</div>
		</div>
	</body>
</html>
